<%- include ./partials/header -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <h5 style="font-weight:bold">Title</h5>
    <input class="form-control" name="postTitle" type="text">
    <h5 style="font-weight:bold">Post</h5>
    <textarea class="form-control" name="postContent" rows="4" cols="50"></textarea>
    <button style="margin-top:10px" class="btn btn-primary" type="submit">Publish</button>
</form>


<%-include ./partials/footer -%>